<div id="color-sort-app" class="flex-l mt5">
  <div class="w-third-l w-100 pa5 tc">
    <div class="pa2">
      <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action defaultOrder}}>Default (Random)</button>
      <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action sortHue}}>Sort Hue</button>
      <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action sortSat}}>Sort Saturation</button>
      <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action sortLig}}>Sort Luminace</button>
      <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action sortDelta}}>Sort Delta</button>

    </div>
    <div class="pa2">
      <preview-input  @handleKeyDown={{action handleKeyDown}} @colorString={{previewString}} />
    </div>
    <button class="bg-white black br2 pa2 ba pointer b--black dim mr2 mb2" onclick={{action addRandomColor}}>Add RandomColor</button>

  </div>
  <div class="w-two-thirds-l w-100" style="background: url('assets/iphonecrapped.png') no-repeat; background-position-x: center; background-size: contain; height: 900px;">


    <div class=" truncate relative center ba bw1 b--black-50 br3" style="background-image: url('assets/ios-7-wallpaper-galaxy.jpg'); background-size: cover; width: 394px; top: 104px; height:688px; padding: 36px 20px;">
      <div class="flex" style="width: fit-content; transition: transform 0.5s ease-in;" id="app-container">
      {{#each colors key="@index" as |colorArray|}}
      <div style="width:350px" class="mr4">
        {{#each colorArray key="@index" as |colorItem|}}
          <div class="fl w-25 mb3" >
            <div class="br4 center white mb1" style="background-color: rgba({{colorItem.rgbs}}, 0.7); height: 60px; width: 60px;">
            </div>
            <div class="white helvetica tc truncate" style="font-size: 0.75rem;">{{colorItem.colorString}}</div>
          </div>
        {{/each}}
      </div>
      {{/each}}
      </div>
    </div>
    {{#if showLeftArrow}}
      <span onclick={{action shiftLeft}} class="relative pointer" style="top: -300px; left: 9vw;">
        <svg class="w3 grow relative black-70" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor;">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
      </span>
    {{else}}
      <span class="relative o-0" style="top: -300px; left: 9vw;">
        <svg class="w3 grow relative black-70" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor;">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
      </span>
    {{/if}}
    {{#if showRightArrow}}
      <span onclick={{action shiftRight}} class="relative pointer" style="top: -300px; left: 45vw">
        <svg class="w3 grow black-70" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentColor;" >
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </span>
    {{else}}
    <span class="relative o-0" style="top: -300px; left: 45vw">
      <svg class="w3 grow black-70" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentColor;" >
        <title>chevronRight icon</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </span>
    {{/if}}
  </div>

</div>


402 x 715.922 // 208

830.844 // 175

y = f(x)

y = 208; x = 715.922

y = 175; x = 830.844